# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore override files as they are usually local
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Sensitive files
*.pem
*.key
*.secret
*.env
*.tfvars
*.tfvars.json
.terraform/
terraform.tfstate*
